body {
    font-family: sans-serif;
    background-color: #f2f3f5;
    color: #303030;
}

#drawer-trigger-buttom {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    box-shadow: 0 0 2px 1px rgba(48, 48, 48, 0.25);
    border-radius: 0.05rem;
    cursor: pointer;
}

#drawer-trigger {
    display: none;
}

#drawer-trigger:checked ~ #drawer-backdrop {
    opacity: 1;
    max-width: 100%;
}

#drawer-trigger:not(:checked) ~ #drawer-backdrop {
    transition: opacity 0.2s ease-out, max-width 0s 0.2s linear;
}

#drawer-backdrop {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    max-width: 0;
    transition: opacity 0.2s ease-out;
    background-color: rgba(48, 48, 48, 0.5);
    cursor: pointer;
}

#drawer-trigger:checked ~ #drawer-backdrop ~ #drawer {
    left: 0;
}

#drawer {
    position: fixed;
    left: -100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #f2f3f5;
    transition: left 0.4s ease-out;
    display: flex;
    align-items: stretch;
}

#drawer-content {
    padding: 1rem;
    flex: 1;
}

#drawer-close {
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}
